.cart-items {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 25rem;
  overflow: auto;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.actions {
  text-align: right;
}

.actions button {
  font: inherit;
  color: #323232;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 25px;
  padding: 0.5rem 2rem;
}

.actions button:hover,
.actions button:active {
  background-color: #838383;
}

.actions .button--alt {
  color: #000000;
}

.actions .button {
  background-color: #303030;
  color: white;
}
